<div ng-repeat="item in $ctrl.bucketlist" ng-sort="item.position">
    <h2>{{item.city}}</h2>
    <p> I want to see
        <span ng-repeat="sight in item.sights">{{sight}}</p>
    </span>
    <my-component image-url="item.img"></my-component>
</div>